<h1> Admin » Dashboard </h1>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Total amount of products</th>
          <th colspan="2">Total amount of categories</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'count' %>
      </tbody>
    </table>
  </div>

        